@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;

  @apply text-gray-400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-black-50;
  font-family: "Inter", sans-serif;
}

input,
textarea {
  outline: none;
}

ul,
li {
  list-style: none;
}
